body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Hide overflow to prevent scrollbars */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
